.effectAttribute {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-m;

  &-dropdown {
    width: 200px;
    &-operator {
      width: 80px;
    }
  }

  &-deleteIcon {
    color: $error;
    cursor: pointer;
  }
}
