.systemTestPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 700px;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  &-title {
    width: 100%;
    margin: 14px 0;
  }

  &-subtitle {
    width: 100%;
    text-align: start;
    margin-bottom: 0;
    text-decoration: underline;
  }

  &-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-xl;
  }

  &-answersField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &-questionTitle {
    text-align: start;
  }

  &-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-xs;
    cursor: pointer;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 8px;
    margin-bottom: 30px;
  }

  &-button {
    &-abort {
      background-color: $error;

      &:hover:enabled {
        background-color: rgba($error, 0.75);
      }
    }
    &-accept {
      background-color: $green;

      &_disabled {
        cursor: default;
        background-color: rgba($green, 0.5);
      }

      &:hover:enabled {
        background-color: rgba($green, 0.75);
      }
    }
  }
}
