.multidropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  &-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    border-radius: $border-radius;
    width: 100%;
    top: calc(52px + 6px);
    background-color: $dropdown-options-bg;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 100;
  }

  &-raw {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-xxs;
    margin: $space-s $space-xs;
  }

  &-option {
    cursor: pointer;

    &:hover {
      color: $text-secondary;
    }
  }

  &-arrow {
    cursor: pointer;
    transition: transform 0.15s;

    &_popoverVisible {
      transform: rotate(180deg);
    }
  }
}
