.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $border-color;
  cursor: pointer;

  &_disable {
    cursor: progress;
  }

  &-popup {
    background-color: #fff;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    @include shadow;
    overflow: hidden;
  }
  &-username {
    border-bottom: 1px solid $border-color;
    padding: 14px;
  }
  &-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-xs;
    cursor: pointer;
    padding: 14px;

    &:hover {
      background-color: $button-primary-bg-hover;
      color: #fff;
    }

    &_isLogin {
      color: $error;

      &:hover {
        background-color: $error;
        color: #fff;
      }
    }
  }
}
