$brand: #006fb7;

$project-bg: #f6f8fa;
$project-bg-transparent: #f6f8faa8;

$error: #d32f2f;

//BORDER
$border-radius: 6px;
$border-color: #d9d9d9;

//CARD COLORS
$card-bg: #ffffff;
$card-image-bg: #d9d9d9;

//SPACE SIZES
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

//TEXT COLORS
$text-accent: $brand;
$text-primary: #000000;
$text-secondary: #69717a;
$text-link: #0969da;

//PAGE-STEPPER COLORS
$pagestepper-bg: $brand;
$pagestepper-bg-hover: #006fb7b2;
$pagestepper-text: #ffffff;
$pagestepper-text-hover: #ffffff;

//HEADER COLORS
$header-bg: #ffffff;

//BUTTON COLORS
$button-primary-bg: $brand;
$button-primary-bg-active: #081953;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-bg-hover: #006fb7b2;
$button-primary-text: #ffffff;
$button-primary-text-active: #ffffff;
$button-primary-text-disabled: #ffffff;
$button-primary-text-hover: #ffffff;

//LOADER COLORS
$loader-bg: $brand;

//INPUT COLORS
$input-bg: #ffffff;
$input-bg-disabled: #ffffff;
$input-bg-focus: #ffffff;
$input-border: $border-color; //#7c7eff;
$input-border-disabled: #ffffff;
$input-border-focus: $brand;
$input-placeholder: #afadb5;
$input-text: #000000;
$input-text-disabled: #00000033;
$input-text-focus: #000000;
