.system-editor-layout {
  display: grid;
  justify-items: center;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 100%;
  align-items: center;
  min-height: 100%;
  width: 100%;
  position: relative;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: $space-m;
    width: 100%;
  }

  &-section {
    cursor: pointer;
    width: 100px;
    margin-top: 12px;
    font-weight: 500;

    &_selected {
      text-decoration: underline;
    }
  }
}
