.not-found {
  width: 340px;
  margin: 24px;
  &-404 {
    font-size: 120px;
    line-height: normal;
    color: $brand;
    margin: 20px;
    text-align: center;
  }
  text-align: justify;
  &-button-back {
    color: $brand;
    font-weight: 500;
  }
}
