.withHeaderLayout {
  &-main-area {
    width: calc(100% - 48px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
    margin: 0px 24px 36px 24px;
  }

  &-top-gradient {
    z-index: 10;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    height: 36px;
    background: linear-gradient(
      180deg,
      $header-bg 0%,
      rgba($header-bg, 0.9) 20%,
      rgba($header-bg, 0.3) 55%,
      rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
  }

  &-bottom-gradient {
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    height: 48px;
    background: linear-gradient(
      0deg,
      $project-bg 0%,
      rgba($project-bg, 0.9) 20%,
      rgba($project-bg, 0.3) 55%,
      rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
  }
}
