.systemTestPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100%;
  width: 100%;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  &-title {
    width: 100%;
    margin: 14px 0;
  }

  &-subtitle {
    width: 100%;
    text-align: start;
    margin-bottom: 0;
    text-decoration: underline;
    max-width: 1100px;

    &_nothing {
      text-align: center;
      text-decoration: none;
    }

    &_testIsEnd {
      display: none;
    }
  }

  &-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: $space-xl;
    max-width: 1100px;

    &_testIsEnd {
      flex-direction: column;
      align-items: center;
    }
  }

  &-results {
    display: flex;
    flex-direction: column;
    max-width: 270px;

    p {
      margin-top: 0;
    }
  }

  &-answersField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
  }

  &-questionTitle {
    text-align: start;
  }

  &-options {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
  }
  &-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-xs;
    cursor: pointer;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 8px;
    margin: 30px 0;
    padding-bottom: 30px;
  }

  &-button {
    &-abort {
      background-color: $error;

      &:hover:enabled {
        background-color: rgba($error, 0.75);
      }
    }
    &-accept {
      background-color: $green;

      &_disabled {
        cursor: default;
        background-color: rgba($green, 0.5);
      }

      &:hover:enabled {
        background-color: rgba($green, 0.75);
      }
    }
  }

  &-error {
    color: $error;
  }
}
